.about-me {
  padding: 0 8rem;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  
  gap: 3rem;
  background: linear-gradient(
      rgba(0, 0, 0, 0.1),  
      rgba(0, 0, 0, 0.9)  
    ); 

  background-size: 100% 50%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 770px) {
  .about-me {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      padding: 0 2rem; /* Corrección del padding */
      text-align: center; /* Centra el contenido */
  }

  .about-me > p {
      width: 100%; /* Ocupar todo el ancho disponible */
      max-width: 100%;
  }

  .lists {
      flex-direction: column; /* Asegura que las listas se apilen en pantallas pequeñas */
      align-items: center;
      gap: 1rem;
  }

  .list-container > ul {
      width: 100%; /* Hace que las listas ocupen todo el ancho disponible */
      text-align: left;
  }
  .list-container > ul > li {
    text-align: left;
  }
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.about-me > h1 {
  font-size: 5.5rem;
  background: linear-gradient(to right, #e9064e 0%, #d1df08 50%, #f08a04 100%);
  animation: moveGradient 2s linear infinite;
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-me > p {
  font-size: 1.5rem;
  width: 100%;
  max-width: 100%;
}

.lists {
  display: flex;
  justify-content: space-around;
}

.list-container > h2 {
  font-size: 2rem;
}

.list-container > ul {
  font-size: 1.5rem;
  width: 50%;
  padding: 0;
}

.list-container > ul > li {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}