.about-me {
  padding: 0 5rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem; 
}
@media (max-width: 770px) {
  .about-me {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      padding: 0 2rem;
      text-align: center; 
      margin-top: 100px;
      margin-bottom: 150px;
      width: 100%;
  }
  .about-header > h1 {
    font-size: 2.5rem; /* O 3rem, según prefieras */
  }
  .lists {
      flex-direction: column; 
      align-items: center;
      gap: 1rem;
  }
  .list-container > ul {
      width: 100%; 
      text-align: left;
  }
  .list-container > ul > li {
    width: 100%;
    text-align: left;
    align-items: center;
  }
}
@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.about-header{
  display: flex;
  gap: 100px;
  justify-content: space-around;
  align-items: center;
}
.about-header > img {
  width: 150px;
  height: 250px;
  border-radius: 30px;
}
.about-header > h1 {
  font-size: 5.5rem;
  margin-bottom: 2rem;
  background: linear-gradient(to right, #e9064e 0%, #d1df08 50%, #f08a04 100%);
  animation: moveGradient 2s linear infinite;
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  
}
.about-me > p {
  font-size: 1.5rem;
  width: 100%;
  max-width: 100%;
}
.lists {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.list-container {
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.list-container > h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  background: linear-gradient(to right, #e9064e 0%, #d1df08 50%, #f08a04 100%);
  animation: moveGradient 2s linear infinite;
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 100px;
  margin-right: 100px;
}
.list-container > ul {
  font-size: 1.2rem;
  gap: 20px;
  width: 100%;
  padding: 0;
}
.list-container > ul > li {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
@media (max-width: 700px) {
  .about-header{
    display: flex;
    flex-direction: column;
  }
  .about-header h1 {
    font-size: 4.0rem;
  }
  .lists {
    box-sizing: border-box;
  }
  .list-container >ul >li {
    margin-right: 30px;
  }
}