
.home {
    padding: 0 8rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    background: linear-gradient(
        rgba(0, 0, 0, 0.1),  /* Capa superior semitransparente */
        rgba(0, 0, 0, 0.9)  /* Capa inferior más oscura */
      ),
      url("/public/images/codigo.jpeg"); /* Asegúrate de colocar la imagen en la ruta correcta */
    
    background-size: 100% 50%;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  
  @media (max-width: 700px) {
    .home {
      padding: 0 2rem;
    }
  }
  @keyframes moveGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  .home > h1 {
    
    font-size: 5.5rem;
    background: linear-gradient(to right, #e9064e 0%, #d1df08 50%, #f08a04 100%);
    animation: moveGradient 2s linear infinite;
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .home >p {
    font-size: 1.4rem;
  }
  
  .home > a {
    font-size: 1.5rem;
  }
  .home > *:nth-child(3) {
    margin-top: -40px;
}