@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.divider {
  height: 10px; /* Define el grosor de la barra */
  width: 100%;
  background: linear-gradient(to right, #e41456 0%, #41cc0e 50%, #120bef 100%);
  display: block;
  background-size: 200% 200%;
  animation: moveGradient 3s linear infinite;
  margin: 1rem 0;
  border: none;
  }