
@keyframes neon-text {
  0% { text-shadow: 0 0 15px rgb(255, 0, 0), 0 0 25px rgb(255, 0, 0), 0 0 35px rgb(255, 0, 0); }
  25% { text-shadow: 0 0 15px rgb(0, 255, 0), 0 0 25px rgb(0, 255, 0), 0 0 35px rgb(0, 255, 0); }
  50% { text-shadow: 0 0 15px rgb(0, 0, 255), 0 0 25px rgb(0, 0, 255), 0 0 35px rgb(0, 0, 255); }
  75% { text-shadow: 0 0 15px rgb(255, 255, 0), 0 0 25px rgb(255, 255, 0), 0 0 35px rgb(255, 255, 0); }
  100% { text-shadow: 0 0 15px rgb(255, 0, 0), 0 0 25px rgb(255, 0, 0), 0 0 35px rgb(255, 0, 0); }
}
nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    flex-wrap: wrap;
  } 
  @media (max-width: 770px) {
    nav {
      padding: 0 2rem;
    }
  }
  nav > ul {
    margin-top: 20px;
    display: flex;
    gap: 2rem;
  }
  nav button {
    background: none;
    border: none;
    color: inherit;
    transform: scale(1.5);
  }
  nav a {
    transition: all 0.3s ease-in-out;
    display: inline-block;
  }
  nav a:hover {
    animation: neon-text 2s infinite alternate;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transform: scale(1.7);
    filter: brightness(1.5) contrast(1.2);
  }
  nav button:hover {
    animation: neon-text 1.5s infinite alternate;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transform: scale(3.9);
    filter: brightness(1.5) contrast(1.2);
  }
  nav > h2{
    font-size: 2rem;
    background: linear-gradient(to right, #e9064e 0%, #d1df08 50%, #f08a04 100%);
    animation: moveGradient 2s linear infinite;
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  nav a:focus {
    outline: none;
  }
  @media (max-width: 450px) {
    nav  ul li a {
      font-size: 1.1rem;
    }
  }
  nav a:focus,
  nav a:active {
    outline: none;
    box-shadow: none;
  }
  nav a {
  -webkit-tap-highlight-color: transparent;
  }
  #themeBtn {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  #themeBtn:focus,
  #themeBtn:active {
    outline: none;
    box-shadow: none;
  }
  
  #themeBtn::-moz-focus-inner {
    border: 0;
  }